{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'index.css' %}">
<link rel="stylesheet" href="{% static 'cloud.css' %}">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');

    .container-head {
        display: flex;
        justify-content: center;
        font-family: "Handjet", sans-serif;
        font-size: 40px;
        color: #ffdf00;
    }

    .img {
        border: 2px solid #ffdf00;
        border-radius: 12px;
    }

    .content {
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .para {
        color: white;
        padding: 20px;
        font-family: Arial, Helvetica, sans-serif;
        width: 40%;

    }
    .cont{
        position: relative;
        bottom: 100px;
    }
</style>

<div class="_3d-pixel-cursor__arrow">

    <header>
        <div class="logo">
            Peanuts
            <img class="logo_img" width="70px" src="{% static 'assets/peanut.png' %}" alt="">
        </div>

        <nav>
            <ul class="main_nav">
                <li><a href="{% url 'home' %}" class="_3d-pixel-cursor__pointer">Home</a></li>
                <li><a href="{% url 'community_page' %}" class="_3d-pixel-cursor__pointer">Community</a></li>
                <li><a href="{% url 'store' %}" class="_3d-pixel-cursor__pointer">Store</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a class="_3d-pixel-cursor__pointer" href="{% url 'profile' %}">
                        <img src="{% static 'assets/profile.png' %}" class="profile_img" style="margin-top: 20px;" alt="">
                        <!-- <img src="{% if user.profile.image %}{{ user.profile.image.url }}{% else %}{% static 'assets/default.jpg' %}{% endif %}"
                            class="profile_img" alt="Profile Picture"> -->
                    </a></li>
                <li>
                    <!-- Logout Form -->
                    <form method="POST" action="{% url 'logout' %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="sign-up"
                            style="background:none;border:none;color:#ffffff;cursor:pointer;">Logout</button>
                    </form>
                </li>
                {% else %}
                <li><a class="sign-up _3d-pixel-cursor__pointer" href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="container-head">
            <h1>ABOUT US</h1>
        </div>
        <div class="cont">
        <div class="content">
            <div class="">
                <img src="{% static 'assets/Home.png' %}" class="img" width="500px" alt="">
            </div>
            <div class="para">
                <h2>Problem statement </h2>

                <p>Traditional coding platforms fail to provide an engaging and interactive learning experience,
                    resulting
                    in disengagement, slow skill development, and limited opportunities for connection and career growth
                    among developers.

                    How can a platform be designed to offer a comprehensive, community-driven, and competitive
                    environment
                    that fosters immersive learning, skill mastery, and career advancement for developers of all levels?
                </p>

                <h2> Solution </h2>
                <p>


                    Peanut solves this by offering a comprehensive platform with competitive matchmaking, real-time
                    coding challenges, and a dynamic community forum.

                    Developers engage with peers, share knowledge, and learn from each other's experiences while
                    competing to earn credits and showcase skills to potential employers.

                    With Peanut, users can:

                    - Compete in real-time coding challenges on one-on-one online matches
                    - Find jobs and internships
                    - Earn redeemable credits and badges
                    - Connect with peers and potential employers
                    - Share knowledge in the community forum
                    - Showcase skills and build a reputation
                    - Access career growth resources

                    Peanut is the ultimate destination for developers to learn, grow, and succeed.

                </p>

            </div>
        </div>
    </div>
    </div>



</div>


{% endblock %}